# Bonus: Temperature Analysis I

In [12]:
import pandas as pd
from datetime import datetime as dt

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

In [15]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [16]:
from scipy import stats

In [22]:
# Filter data for desired months
jun_df = df[df.index.month == 6]

dec_df = df[df.index.month == 12]

In [23]:
# Identify the average temperature for June
jun_avg_temp = jun_df['tobs'].mean()
jun_avg_temp

74.94411764705882

In [24]:
# Identify the average temperature for December
dec_avg_temp = dec_df['tobs'].mean()
dec_avg_temp

71.04152933421226

In [ ]:
# Create collections of temperature data

In [29]:
# Run paired t-test
#stats.shapiro(jun_df['tobs'])
#stats.shapiro(dec_df['tobs'])
#stats.ttest_rel(jun_df['tobs'], dec_df['tobs'])

# ******* Can't use a paired t-test because the sets for jun and dec are not dependent on each other. 
# ******* It throws error because the sets are not of equal length

# un-paired t-test - this makes sense because jun and dec are independent of each other 
stats.ttest_ind(jun_df['tobs'], dec_df['tobs'])

# This runs fine.  The result shows the pvalue is higher than 0.05 and therefore we can 
# reject there is any significance that the means of both jun and dec being close is relevant.

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis